h1 {
  background: url(/src/img/assets/background.jpg) no-repeat center center;
  box-shadow: 0px -23px 25px 0px rgba(64, 89, 174, 0.17) inset, 0px -36px 30px 0px rgba(0, 0, 0, 0.15) inset, 0px -79px 40px 0px rgba(0, 0, 0, 0.1) inset, 0px 2px 1px rgba(0, 0, 0, 0.06), 0px 4px 2px rgba(0, 0, 0, 0.09), 0px 8px 4px rgba(0, 0, 0, 0.09), 0px 16px 8px rgba(0, 0, 0, 0.09);
  background-color: #30C7DE;
  text-shadow: #ffffff 2px 0 5px;
  padding: 1em;
  text-align: center;
  color: #000000;
}

h2 {
  color :aliceblue;
  padding: 0.1px;

}
body {
  background-color: #2F2F2F;
  text-align: center;
  font-family: sans-serif;
  padding: 1em;
}
p {
  background-color: #1a1a1a;
}
img {
  vertical-align: bottom
}
.title {
  padding-left: 15%;
  padding-right: 15%;
}
.custom-select {
  min-width: 350px;
}

.custom-select select {
  appearance: none;
  width: 100%;
  font-size: 1.15rem;
  padding: 0.675em 6em 0.675em 1em;
  background-color: #fff;
  border: 1px solid #caced1;
  border-radius: 0.25rem;
  color: #000;
  cursor: pointer;
}
/* Dropdown container */
.dropdown {
  position: relative;
  display: inline-block;
  width: 70%;
}

/* Dropdown content */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  width: 100%;
  max-height: 400px;
  overflow-y: auto;
  box-sizing: border-box;

}

/* Show the dropdown content */
.show {
  display: block;
}

/* Style for each option */
.dropdown-content div {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: flex;
  align-items: center;
  cursor: pointer;
}

/* Style for images in options */
.dropdown-content img {
  margin-right: 10px;
  width: 60px;
  height: 50px;
  border-radius: 50%;
}

input {
  width: 70%;
  height:30px;
  text-align:center;
}